{% extends 'inner_base.html' %}
{% load i18n %}

{% block main %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans 'Give my hearts' %}</h1>

    <p>{% trans 'Hearts avaiable' %}: {{ self.request.user.customer.weekly_hearts }} <i class="glyphicon glyphicon-heart"></i></p>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" />
    </form>
  </div>
</div>

<div class="row">
  {% for transaction in my_transactions %}
  {% endfor %}
</div>
{% endblock %}
