{% extends 'inner_base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block main %}
<div class="row dashboard">
  <div class="col-xs-12">
    <h1>{% trans 'Give my hearts' %}</h1>

    <p>{% trans 'Hearts avaiable' %}: {% include 'core/_heart_badge.html' with qtty=user.customer.weekly_hearts %}</p>

    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-xs-9">
          {% bootstrap_field form.receiver %}
        </div>
        <div class="col-xs-3">
          {% bootstrap_field form.qtty %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          {% bootstrap_field form.comment %}
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <button class="form-control btn btn-primary" type="submit" style="margin-top: 25px">
              Give!
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12">
    <h2>Hearts given to me this week</h2>
    <div class="received">
      {% for t in transactions_to_me %}
      {% include "core/_transaction_row.html" %}
      {% endfor %}
    </div>
  </div>
  <div class="col-xs-12">
    <h2>Hearts that I gave</h2>
    <div class="received">
      {% for t in my_transactions %}
      {% include "core/_transaction_row.html" %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  {% for transaction in my_transactions %}
  {% endfor %}
</div>
{% endblock %}
